
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .row { 
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
.table th, .table td { 
     border-top: none !important; 
 }
/*205364, 7acbb9, aeebac, d2d4d1, 565656*/
/* Style the header */
.landing{
    display:none;
}
.header {
    height: 632px;
    padding: 230px;
    text-align: center;
    background: #7acbb9;
    color: white;
}
.landing{
    display:none;
}
/* Increase the font size of the h1 element */
.header h1 {
    font-size: 60px;
}

.header h2 {
    font-size: 60px;
    margin-top:60px;
    margin-bottom:60px; 
}
    

/* Style the top navigation bar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7acbb9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

/* Style the navigation bar links */
.navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    color: grey;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

.main {   
    flex: 70%;
}

/*.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}*/

.dot {
    height: 150px;
    width: 150px;
    background-color: #565656;
    border-radius: 50%;
    display: inline-block;
}
#features {
    background-color: #d2d4d1
}

#about {
  height: 632px;
}

.subhead {
  margin-top:8px;
  margin-bottom:-16px;
}

.text {
  width: 260px;
}

.table{
  width:100%;
  margin-top:50px;
}
#left-column{
    padding-left:200px;
}
#right-column{
    padding-right:200px;
}
#features{
    background-color:#d2d4d1;
    height:900px;
}
#header{
    text-align: center;
    padding-top:20px;
    
}
.col-sm-4{
    text-align:center;
}
.row{
    padding-top: 10px
}
img{
    width:70%;
}
.side{
    width:50%;
}
.feature-sub{
    color:#205364
}
.sub-back{
    background-color: white;
    border-radius:25px;
    height:25px;
    
}
* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

